.investigations-subtitle{
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    margin-top: 40px;
    grid-column-start: 2;
    grid-column-end: 12;
}
@media(max-width: 1024px){
    .investigations-subtitle{
        grid-column-start: 2;
        grid-column-end: 8;
    }
}
@media(max-width: 768px){
    .investigations-subtitle{
        grid-column-start: 1;
        grid-column-end: 7;
    }
}